.article {
    padding: 6rem 0rem;
    max-width: 95rem;
    margin: auto;
}

.title {
    font-size: 2.4rem;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);

    text-align: center;
    text-transform: uppercase;
    margin-top: 4rem;
}

.form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    padding: 4rem 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapperInput {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}


.textField {
    color: #ccc;
    border-radius: 4px;
    border: 1px solid #262626;
    background-color: #0D0D0D;
    flex: 1;
}

.textField:invalid {
    border: 1px solid #262626;
}

.textField:valid {
    border-color: #262626;
    outline-color: #262626;
}

.textArea {
    resize: none;
    height: 20rem;
    white-space: pre-wrap;
}

.wrapperBtn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.season {
    padding: 0rem 1.6rem;
}

.seasonHeader {
    color: var(--text-color);
    background-color: #1A1A1A;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2rem 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.seasonButtons {
    display: flex;
    gap: 4rem;
}

.seasonBtn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.seasonInfo {
    color: var(--text-color);
    background-color: #0F0F0F;
    font-size: 1.6rem;
    padding: 2rem;
}

.seasonEpisodes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3rem;
    gap: 1rem;
}

.addEpisode, .cardEpisode {
    border-radius: 0.8rem;
    border: 1px solid #0D0D0D;
    cursor: pointer;
    background: #262626  url(./episode.svg) no-repeat center top 35%;
    width: 220px;
    height: 125px;
    padding: 25px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
}

.addEpisode span {
    color: #FFF;
    font-size: 1.6rem;
    margin-top: 20%;
}

.cardEpisode {
    background-color: teal;
    background-image: none;
    padding: initial;
    box-shadow: 0px 0px 2px #79929b;
}

.figure {
    position: relative;
    width: 100%;
    height: 100%;
}

.figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    color: #FFF;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    font-size: 1.4rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.episodeThumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 3.4rem;
    }

    .wrapperInput {
        flex-direction: row;
    }

    .wrapperInput div:first-child {
        width: 19.2rem;
    }

    .wrapperInput div:first-child span {
        width: 19.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .seasonHeader {
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5rem 3rem;
    }

    .seasonEpisodes {
        justify-content: left;
    }
}