.isHidden{
    display: none;
}

.menu {
    width: 100%;
    height: 5.5rem;
    position: absolute;
    z-index: 99999;

    display: flex;
    align-items: center;
    gap: 13rem;
    padding: 1rem;
    backdrop-filter: blur(5px);
}

.menu.removeLinearGradient {
    background-color: #0d0d0d;
}

.logo {
    display: block;
    position: absolute;
    z-index: 10;
    top: 7px;
    left: 10px;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.6));
}

.btnMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;

    width: 3rem;
    height: 2rem;
    position: absolute;
    z-index: 999999;
    cursor: pointer;
}


.btnMenu.open .menuBar:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
}
  
.btnMenu.open .menuBar:nth-child(2) {
    opacity: 0;
}
  
.btnMenu.open .menuBar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


.list.open {
    top: 0%;
}

.menuBar {
    height: .3rem;
    background-color: #FFFFFF;
    transition: all .3s ease;
}

.containerIcons {
    display: none;
}

.list {
    position: absolute;
    z-index: 99999;
    top: -10.5rem;
    left: 0rem;
    
    width: 100%;
    background-color: rgba(17, 17, 17, 0.4);
    backdrop-filter: blur(.5rem);
    padding-top: 5rem;
    transition: top .3s ease;
}

.link {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-color);
    display: block;
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;

    text-decoration: none;
    padding: .5rem 1rem;
    height: 2.7rem;
}

.link:hover {
    border-bottom: .2rem solid #FFF;
}

.link.active {
    background-color: rgba(0, 132, 255, 0.5);
    font-weight: 600;
}

.containerIcons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    padding: 1rem 2rem;
    position: relative;
}

.containerIcons > svg {
    width: 3rem;
    cursor: pointer;
}

.removeShadow .isHidden {
    display: block;
}

.avatar {
    width: 3.5rem;
    border-radius: 50%;
    border: .2rem solid #000;
    cursor: pointer;
}

.menuDropDowSVG {
    width: 3rem;
}

.menuDropDow {
    border-radius: 1rem;
    list-style: none;
    box-shadow: 0px 0px 1rem 0.3rem #3F3F3F;
    background-color: #0d0d0d;
    
    position: absolute;
    z-index: 10;
    top: 95%;
    right: 13px;
    display: none;
}

.menuDropDow.isVisible {
    display: block;
}

.menuDropDow::before {
    content: "";
    display: block;
    top: -5px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #0d0d0d;

    position: absolute;
    transform: rotate(45deg);
    z-index: -1;
}

.menuDropDowItem {
    cursor: pointer;
    line-height: 3rem;
    padding: 1rem 3rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: #FFF;

    width: 23rem;
    height: 5rem;

    display: flex;
    align-items: center;
    gap: 2rem;
}

.menuDropDow  li:nth-child(1) .menuDropDowItem:hover {
    border-radius: 1rem 1rem 0rem 0rem;
    background-color: #221f1f;
}

.menuDropDow  li:nth-child(2) .menuDropDowItem:hover {
    border-radius: 0rem 0rem 1rem 1rem;
    background-color: #221f1f;
}


@media screen and (min-width: 768px) {

    .isHidden {
        display: block;
        width: 14.5rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .menu {
        background-image: var(--c-menu-background-image);
        height: 7rem;
        padding: 1rem 4rem;
    }

    .logo {
        display: block;
        position: initial;
    }

    .btnMenu {
        margin: 1rem 0rem 0rem .8rem;
        display: none;
    } 

    
    .list {
        position: initial;
        padding: 0rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;

        background-color: transparent;
        backdrop-filter: none;
    }
    
    .listLinks {
        display: flex;
        gap: 3.5rem;
    }

    .link {
        background-color: transparent;
        font-size: 1.8rem;
        padding: 0.3rem 0rem;
    }
       
    .link.active {
        background-color: transparent;
        border-bottom: .2rem solid var(--c-menu-link-border-bottom-color);
    }
     
    .containerIcons {
        gap: 3rem;
    }

    .containerIcons > svg {
        width: initial;
    }
    
    .menuDropDow::before {
        right: 15px;
    }

    .avatar {
        width: 4.5rem;
    }
}