.menu {
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: 12;

    height: 7.0rem;
    width: 100%;
    padding: 1.5rem;
    background-image: var(--c-menu-background-image);

    display: flex;
    align-items: center;
    gap: 13.0rem;
}

.logo {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 110px;
}

.list {
    display: flex;
    gap: 3.5rem;
    flex: 1;

    list-style: none;
}

.link {
    color: var(--text-color);
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    padding: 0.3rem 0rem;
}

.link.active {
    border-bottom: .2rem solid var(--c-menu-link-border-bottom-color);
}

.containerIcons {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.containerIcons svg {
    cursor: pointer
}

@media screen and (min-width: 1024px) {
    .menu {
        padding: 1.5rem 6.5rem 1.5rem 4.5rem;
    }

    .logo {
        width: initial;
    }

}