.relatedDonghuas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    justify-items: center;
    gap: 2rem;
}

.item {
    width: 100%;
    list-style: none;
}

.thumbnail {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .relatedDonghuas {
        grid-template-columns: repeat(auto-fill, minmax(41rem, 1fr));
    }
}