.sectionTrailers {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0rem;
    gap: 1.6rem;
}

.sectionTitle {
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
}

.wrapperTrailers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.cardTrailer {
    width: 30rem;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    position: relative;
}

.icon {
    position: absolute;
    left: 5px;
    bottom: 40px;
    z-index: 10;

    width: 5rem;
    height: 5rem;
    background-color: #FFF;
    border-radius: 50%;
    padding: 0.5rem;
}

.thumbnail {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: brightness(0.5) drop-shadow(4px 4px 6px #000);
    transition: filter .4s ease;
}

.thumbnail:hover {
    filter: brightness(1) drop-shadow(4px 4px 6px #000);
}

.trailerTitle {
    font-size: 1.4rem;
    color: var(--text-color);
}

.modal {
    position: fixed;
    z-index: 99999;
    top: 0px;
    left: 0px;

    min-width: 100%;
    min-height: 100%;
    border: none;
    background-color: #000000ad;
}

.modalBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.videoBox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    width: 84%;
}

.btnClose {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.wrapperVideo {
    width: 100%;
}

.video {
    width: 100%;
    height: 25rem;
}

@media screen and (min-width: 768px) {

    .sectionTrailers {
        padding: 5.5rem 4rem;
    }
    
    .sectionTitle {
        text-align: initial;
    }
    
    .wrapperTrailers {
        justify-content: initial;
        gap: 6rem;
    }

    .cardTrailer {
        width: 35rem;
        height: 20rem;
    }

    .icon {
        bottom: 10px;
    }

    .trailerTitle {
        font-size: 1.8rem;
    }

    .videoBox {
        width: 38%;
    }

    .video {
        height: 29rem;
    }
}

@media screen and (min-width: 1024px) {

    .sectionTrailers {
        padding: 5.5rem 8rem;
    }

}