.boxButton {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    pointer-events: all;
    height: 4rem;
}

@media screen and (min-width: 768px) {

    .boxButton {
        height: 5rem;
    }
}