.textField {
    color: #ccc;
    border-radius: 4px;
    border: 1px solid #262626;
    background-color: #0D0D0D;
    flex: 1;
}

.textField:invalid {
    border: 1px solid #262626;
}

.textField:valid {
    border-color: #262626;
    outline-color: #262626;
}